footer
  #contact.contact-text
    h1 CONTACT
    p
      | If you&apos;re interested in chatting or want more information about what l&apos;ve been working on, l&apos;d love to hear from you!
  .phone-number
    p Phone:
    a.contact-details(href='Phone') 317 479 6574
  .email
    p Email:
    a.contact-details(href='Email') batsi.jambga@gmail.com
  .last
    ul.footer-links
      li.back-to-top
        a(href='#') BACK TO TOP
      li
        a.tablet(href='#') HOME
      li
        a.tablet(href='#portfolio') PORTFOLIO
      li
        a.tablet(href='#skills') SKILLS
      li
        a.tablet(href='#contact') CONTACT