extends layout

block content
  main#portfolio
    h1 PORTFOLIO
    .card.one.two
      img.profile-image(src='images/portfolio-1.png' alt='Portfolio of Batsirai Hilliard')
      h2 URL & File Bookmarker
      a(href='https://flaskurl-shortner.herokuapp.com/')
      p
        | This project shows the front page of a marketing website meant for a specific bussiness I&apos;m interested in.
    .card.two
      img.profile-image(src='images/flask.png' alt='search Page for Batsirai Hilliard')
      h2 Search Page
      p
        | This project searches through a specific database to find information that the user is trying to look up
    .card.one
      img.profile-image(src='images/portfolio-3.png' alt='Travel App for Batsirai Hilliard')
      h2 Travel App
      p
        | This project compares tavel times based on the different transportation methods and tells you the best one.
    .card.two
      img.profile-image(src='images/Ccl.JPG' alt='Travel App for Batsirai Hilliard')
      h2 CCL AUTO
      p
        | A website for an Automotive Services and Architectural services.They also offer auto spares and  mining equipment
    #photo-gallery.card.one.two
      img.profile-image(src='images/chilly-barrels.JPG' alt='Photo gallery for Batsirai Hilliard')
      h2 CHILLY BARRELS
      a(href='https://pixykorner.co.za/chillybarrels')
      p
        | This project is an E-commerce website which lets you shop alcohol online and have it deliveried straight to your door.
    .card
      img.profile-image(src='images/shamiso.JPG' alt='Search Page for Batsirai Hilliard')
      h2 SHAMISO ENT
      a(href='http://3.238.14.11')
      p
        | A recording label website where you go online to get more info about the record label and shop their merchandise which is delivered straight to your door.
    #skills.goals
      h1 SKILLS
      p.p-one
        | I want to master the process of building web sites and increase my knowledge building applications as well, skills and abilities in:
      ul.skills
        li HTML
        li CSS
        li JavaScript
        li Bootstrap
        li VS studio
        li MS Office
        li Windows
        li Linux
        li Python
      p.goals-p
        | I&rsquo;d like to start my own firm for  web design helping clients create an impressive online presence.