extends layout

block content
  main#portfolio
    h1 PROJECTS
    .card.one.two
      img.profile-image(src='images/flask.png' alt='URL & FILE BOOKMARKER')
      h2 URL & FILE BOOKMARKER
      a(href='https://flaskurl-shortner.herokuapp.com/')
      p
        | This web application helps bookmark website links and images using the Flask framework. It caches the links and files using json and showcases the framework API capability.
    .card.two
      img.profile-image(src='images/portfolio-2.png' alt=' for Batsirai Hilliard')
      h2 Search Page
      p TXT FILE PRICE CALCULATOR
        | Made a python script that consumed a txt file to create a price list based conditional logic determined by categories, weight & units on hand.
    .card.one
      img.profile-image(src='images/portfolio-3.png' alt='Travel App for Batsirai Hilliard')
      h2 Travel App
      p
        | Compares tavel times based on the different transportation methods and tells you the best one.
    .card.two
      img.profile-image(src='images/Ccl.JPG' alt='Travel App for Batsirai Hilliard')
      h2 CCL AUTO
      p
        | A website for an Automotive Services and Architectural services.They also offer auto spares and  mining equipment
    #photo-gallery.card.one.two
      img.profile-image(src='images/chilly-barrels.JPG' alt='Photo gallery for Batsirai Hilliard')
      h2 CHILLY BARRELS
      a(href='https://pixykorner.co.za/chillybarrels')
      p
        | This project is an E-commerce website which lets you shop alcohol online and have it deliveried straight to your door.
    .card
      img.profile-image(src='images/shamiso.JPG' alt='Search Page for Batsirai Hilliard')
      h2 SHAMISO ENT
      a(href='http://3.238.14.11')
      p
        | A recording label website where you go online to get more info about the record label and shop their merchandise which is delivered straight to your door.
    #skills.goals
      h1 SKILLS
      ul.skills
        li HTML
        li CSS
        li JavaScript
        li Bootstrap
        li VS studio
        li MS Office
        li Windows
        li Linux
        li Python