doctype html
html(lang="en")
  head
    include ./partials/_head
  body
    .wrapper
      include ./partials/_nav
      header
        img.profile-image(src='images/bj.jpeg' alt='Picture of Batsirai Hilliard')
        p.header-text
          | Hello, I&rsquo;m BJ Batsirai Hilliard.I&apos;m a Front-End Web-developer.
          | Enthusiastic, dedicated and student of web programming languages with great organizational and management skills. I have nearly 2 years of experience creating web applications that have propelled my growth in skills and triggered an insatiable appetite to learn new things. Seeking an opportunity that can aid in further improving Python, HTML5, CSS3 and JavaScript skills.
    block content
    include ./partials/_footer